header {
  height: 17vh;
  background-color: var(--main-color);
  padding: 0 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bucketIcn {
  width: 3vw;
  cursor: pointer;
}
