header {
  height: 17vh;
  background-color: var(--main-color);
  padding: 0 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userLinks {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  width: 35%;
  cursor: pointer;
}

.bucket {
  width: 35%;
  cursor: pointer;
}
