@import url(styles/fonts.css);

:root {
  --main-color: #FFC244FF;
  --second-color: #00A082FF;
  --main-text-color: #000000FF;
  --second-text-clor: #FFFFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham-Medium", Arial, sans-serif, serif;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

button {
  background-color: var(--second-color);
  color: var(--second-text-clor);
  cursor: pointer;
}
